fastapi==0.116.1
uvicorn==0.35.0

ollama==0.5.3

sentence-transformers==5.1.0
transformers==4.56.0
torch>=2.7.0
accelerate==1.10.1

qdrant-client==1.18.0

openai-whisper==20250625

python-dotenv==1.1.1
python-multipart==0.0.20

numpy>=2.3.2
pydantic>=2.11.7
